<div class="container">
<div class="card" style="width: 18rem;">
  <img src="https://i.ytimg.com/vi/A0AioOIVMwE/maxresdefault.jpg" class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title">Ariq Rashid</h5>
      <h6>Front End Developer</h6>
    <p class="card-text">Ariq is a 19 year old student at Virginia Tech. He plans to major in Electrical and Computer Engineering</p>
    <a href="#" class="btn btn-primary">Github</a>
      <a href="#" class="btn btn-primary">Resume</a>
  </div>
</div>
</div>

<div class="container">
<div class="card" style="width: 18rem;">
  <img src="https://i.ytimg.com/vi/A0AioOIVMwE/maxresdefault.jpg" class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title">Ariq Rashid</h5>
      <h6>Front End Developer</h6>
    <p class="card-text">Ariq is a 19 year old student at Virginia Tech. He plans to major in Electrical and Computer Engineering</p>
    <a href="#" class="btn btn-primary">Github</a>
      <a href="#" class="btn btn-primary">Resume</a>
  </div>
</div>
</div>

