<div id="about-us">
    <div class="container">
        <div id="about-us-title"><h1>The Developers</h1></div>
        <div class="row" style="padding-top:100px; padding-bottom:100px">
            <div class="col-sm-3">
                <div class="card text-white mb-3" style="">
                    <img class="card-img-top" width="400" src="/static/images/loganpual.png" alt="Card image cap">
                    <div class="card-body">
                        <h3 class="card-title">Ayush Chivate</h3>
                        <h6 class="card-role">AI Developer</h6>
                        <p class="card-text"> <i class="bi bi-envelope"></i>
                            ayushchivate@gmail.com
                        </p>
                        <a href="https://github.com/AyushChivate" target="_ " class="btn btn-dark">
                            <i class="bi bi-github"></i>
                        </a>
                        <a href="https://www.linkedin.com/in/ayush-chivate/" target="_ "  class="btn btn-dark">
                             <i class="bi bi-linkedin"></i>
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-sm-3">
                <div class="card text-white mb-3" style="">
                    <img class="card-img-top" src="/static/images/caleb (2).jpg"
                         alt="Card image cap">
                    <div class="card-body">
                        <h3 class="card-title">Caleb Owens</h3>
                        <h6 class="card-role">Front-End Developer</h6>
                        <p class="card-text">
                             <i class="bi bi-envelope"></i>
                                caleb.ja.owens@gmail.com
                        </p>
                        <a href="https://github.com/c10coding" target="_ "class="btn btn-dark">
                            <i class="bi bi-github"></i>
                        </a>
                        <a href="https://www.linkedin.com/in/caleb-owens-003264169/" target="_ " class="btn btn-dark">
                            <i class="bi bi-linkedin"></i>
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-sm-3">
                <div class="card text-white mb-3 border-light" style="">
                    <img class="card-img-top"  height="250" src="/static/images/ariqlinkedin - Copy.jpg"
                         alt="Card image cap">
                    <div class="card-body">
                        <h3 class="card-title">Ariq Rashid</h3>
                        <h6 class="card-role">Front-End Developer</h6>
                        <p class="card-text">
                            <i class="bi bi-envelope"></i>
                            ariq.rashid74@gmail.com
                        </p>
                        <a href="https://github.com/AriqRashid" target="_ " class="btn btn-dark" >
                            <i class="bi bi-github"></i>
                        </a>
                         <a href="https://www.linkedin.com/in/ariq-rashid-731687184/" target="_ "  class="btn btn-dark">
                             <i class="bi bi-linkedin"></i>
                         </a>
                    </div>
                </div>
            </div>
            <div class="col-sm-3">
                <div class="card text-white mb-3" style="">
                    <img class="card-img-top" src="#"
                         alt="Card image cap">
                    <div class="card-body">
                        <h3 class="card-title">Sujay Kandwal</h3>
                        <h6 class="card-role">AI Developer</h6>
                        <p class="card-text">
                             <i class="bi bi-envelope"></i>

                        </p>
                        <a href="#" target="_ " class="btn btn-dark">
                            <i class="bi bi-github"></i>
                        </a>
                        <a href="#" target="_ " class="btn btn-dark">
                            <i class="bi bi-linkedin"></i>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
