<div id="footer-wrap">
    <i class="bi bi-emoji-sunglasses"></i>
    <h2 id="footer-title">Sunglasses for You</h2>
    <div id="navigation-wrap">
        <h2>Navigation</h2>
        <ul class="list-unstyled">
            <li>
                <a href="#">Get started</a>
            </li>
            <li>
                <a href="#">About us</a>
            </li>
            <li>
                <a href="#">How it works</a>
            </li>
            <li>
                <a href="#">Privacy Policy</a>
            </li>
        </ul>
    </div>
    <p>Get recommened sunglasses that look great on you!</p>
</div>