@import url('https://fonts.googleapis.com/css2?family=Audiowide&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');

:root{
	--headerFontFamily: 'Audiowide', cursive;
}

#form-wrap{
	width: 50%;
	height: 50%;
	background-color: gray;
}

.centered {
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

#form-header{
	font-family: var(--headerFontFamily);
	padding-top: 1vh;
}

#form-wrap form{
	margin-top: 5vh;
}

#form-wrap .form-group{
	width: 100%;
}

#form-wrap .form-group .form-text-input-wrap{
	width: 50%;
	margin: 0 auto;
}

#form-wrap .form-check{
	margin: 0 auto;
	width: 50%;
}

#formSubmitButton{
	margin-top: 5vh;
	padding-top: 1vh;
	height: 5vh;
}