@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bodoni+Moda:wght@900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=PT+Sans&display=swap');

:root{
	--titleFont: 'Lobster', cursive;
	--headerFont: 'Bodoni Moda', serif;
	--otherFont: 'PT Sans', sans-serif;
	--primaryColor: #151965;
	--secondaryColor: #ffcc29;
	--tertiaryColor: #e94560;
}

.card-1-1{
    background-color: var(--primaryColor);
}

.card-1-2{
    background-color: var(--primaryColor);
}

.card-2-1{
    background-color: var(--primaryColor);
}

.card-2-2{
    background-color: var(--primaryColor);
}

body{
    background-color: blue;
}

#about-us{
    position: relative;
    background-image: url();
    width: 100%;
    background-repeat: no-repeat;
    background-position: center;
}
